.root {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-width: 0;
  height: 100%;
  position: relative;
  overflow: visible;
}

.menu {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-width: 0;
  height: 100%;
  position: relative;
  overflow: visible;
}

@media (max-width: 1024px) {
  .root {
    display: none;
  }
}